<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293500240654-ad79pltr2hqlprvufdmaqrp18h56osgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293500240654-ad79pltr2hqlprvufdmaqrp18h56osgq</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ4aSEC3m3YHN8pljVpmJIERAgRbq7oRE</string>
	<key>GCM_SENDER_ID</key>
	<string>293500240654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pruebaTecnica</string>
	<key>PROJECT_ID</key>
	<string>prueba-tecnica-dashfleet</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-tecnica-dashfleet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293500240654:ios:0353b2366f10f0124e8d5f</string>
</dict>
</plist>